@use "../../../../styles.scss" as *;

header {
  @include dimensions($w: calc(100% - 232px), $h: 96px);
  @include position($p: absolute, $t: 0, $r: 0, $l: 232px);
  @include flex($ai: center);
  background-color: $white;
  box-shadow: 0 4px 4px $box-shadow-light;
  font-weight: 400;
  font-size: 20px;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.header-left-content {
  @include flex($jc: flex-start, $ai: center);
  flex: 1;
  padding: 0 20px 0 40px;

  .logo-small {
    @include dimensions($w: 32px, $h: 32px);
    display: none;
  }
}

.header-right-content {
  @include flex($jc: flex-end, $ai: center, $g: 12px);
  flex: 1;
  padding-right: 40px;
}

.help-icon {
  @include flex($ai: center, $jc: center);
  @include dimensions($w: 30px, $h: 30px);
  @include position($p: relative);
  transition: transform 225ms ease-in-out;
  color: gray;

  &:hover {
    transform: scale(1.2);
  }
}

.menu-content {
  background-color: $dark-navy;
  border-radius: $border-radius-xl 0 $border-radius-xl $border-radius-xl;
  padding: 20px;
  box-shadow: 0 2px 8px $box-shadow-hover;
  min-width: 200px;

  .mat-mdc-menu-item {
    color: $white;
    font-size: 16px;
    padding: 10px;
    border-radius: $border-radius-default;
    min-height: unset;
    line-height: normal;

    &:hover {
      background-color: #091931;
    }
  }
}

.profile-avatar {
  @include dimensions($w: 64px, $h: 64px);
  @include flex($ai: center, $jc: center);
  border-radius: 50%;
  cursor: pointer;
  background-color: $white;
  overflow: hidden;
  border: 3px solid $dark-navy;

  img {
    @include dimensions($w: 100%, $h: 100%);
    object-fit: cover;
  }

  .initials {
    color: $primary-blue;
    font-size: 28px;
    font-weight: 575;
  }
  &:hover {
    box-shadow: none;
    background-color: rgb(236, 236, 236);
  }
}

.dropdown-menu {
  @include position($p: absolute, $t: 98px, $r: 45px);
  display: none;
  background-color: $dark-navy;
  border-radius: $border-radius-xl 0 $border-radius-xl $border-radius-xl;
  padding: 20px;
  box-shadow: 0 2px 8px $box-shadow-hover;

  &.show {
    @include flex($fd: column, $g: 10px);
  }

  a {
    color: $white;
    text-decoration: none;
    padding: 10px;
    border-radius: $border-radius-default;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #091931;
    }
  }
}

@media (max-width: 1030px) {
  header {
    @include dimensions($w: calc(100% - 120px));
    @include position($l: 120px);
    margin-left: 0;
  }

  .header-left-content {
    justify-content: start;
    padding-left: 24px;
  }
  .header-right-content {
    padding-right: 24px;
  }
}

@media (max-width: 902px) {
  .header-left-content {
    padding-left: 16px;
  }
}

@media (max-width: 800px) {
  header {
    @include dimensions($w: 100%, $h: 89px);
    @include position($l: 0);
  }

  .profile-avatar {
    @include dimensions($w: 58px, $h: 58px);
  }

  .header-left-content {
    padding-left: 16px;

    .logo-small {
      @include dimensions($w: 58px, $h: 58px);
      display: block;
    }
  }

  .header-title {
    display: none;
  }
  .header-right-content {
    padding-right: 16px;
  }
  .dropdown-menu {
    @include position($t: 91px, $r: 16px);
  }
}

@media (max-width: 375px) {
  header {
    height: 60px;
  }

  .profile-avatar {
    @include dimensions($w: 40px, $h: 40px);
    min-width: 40px;
    font-size: 16px;

    .initials {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .dropdown-menu {
    @include position($t: 62px, $r: 12px);
  }

  .help-icon {
    @include dimensions($w: 24px, $h: 24px);
  }

  .header-left-content {
    padding-left: 12px;

    .logo-small {
      @include dimensions($w: 40px, $h: 40px);
    }
  }
  .header-right-content {
    padding-right: 12px;
  }
}

:host-context(.height-exceeded) {
  header {
    @include position($p: absolute);
  }
}
