@use "../../../styles.scss" as *;

.contacts-container {
  display: flex;
  @include dimensions($w: 100%, $h: 100%);

  background-color: $background-light;
  overflow: hidden;
}

.contact-list-section {
  max-width: 456px;
  width: 30%;
  min-width: 336px;
  height: 100%;
  background-color: $white;
  box-shadow: 4px 0px 6px $box-shadow-light;
  overflow-y: auto;

  .button-container {
    @include position($p: sticky, $t: 0);
    @include flex($ai: center, $jc: center);
    padding: 24px;
    background-color: $white;
    z-index: 2;
  }

  .new-contact-button {
    @include flex($ai: center, $jc: center, $g: 16px);
    @extend %button-base;
    @include dimensions($w: 100%, $h: 56px);
    background-color: $dark-navy;
    color: $white;
    border: none;

    @include hover-effect(
      $scale: 1,
      $shadow-color: $box-shadow-hover,
      $shadow-spread: 4px,
      $transition-duration: 0.2s,
      $color: $white,
      $background-color: $primary-blue
    );

    mat-icon {
      @include dimensions($w: 32px, $h: 32px, $fs: 32px);
    }
  }
}

.contacts-list {
  padding: 0 24px;

  .contact-group {
    position: relative;
    margin-bottom: 24px;
    padding: 0;

    > ul {
      padding: 0;
    }

    .letter-divider {
      position: relative;
      color: $dark-navy;
      font-size: 21px;
      font-weight: 700;
      margin-bottom: 16px;
      padding-left: 24px;

      &:after {
        content: "";
        @include position($p: absolute, $l: 0, $r: 0, $b: -8px);
        height: 1px;
        background-color: $border-color;
      }
    }

    .contact-item {
      @include flex($ai: center, $g: 24px);
      padding: 15px 24px;
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        @include position($p: absolute, $l: 0, $r: 0, $t: 0, $b: 0);
        background-color: transparent;
        border-radius: $border-radius-default;
        transition: background-color 225ms ease-in-out;
        pointer-events: none;
        z-index: 0;
      }

      .contact-avatar,
      .contact-info {
        @include position($p: relative);
        z-index: 1;
      }

      &:hover:before {
        background-color: $background-light;
      }

      &.selected:before {
        background-color: $dark-navy;
      }

      &.selected {
        color: $white;
      }
    }

    .contact-avatar {
      min-width: 42px;
      border-radius: 50%;
      border: 2px solid $white;
      @include flex($ai: center, $jc: center);
      color: $white;
      font-weight: 500;
      @include dimensions($fs: 16px, $w: 42px, $h: 42px);

      img {
        @include dimensions($w: 100%, $h: 100%);
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .contact-avatar.large {
      @extend .contact-avatar;
    }

    .contact-info {
      @include flex($fd: column, $g: 4px);

      .contact-name {
        font-size: 16px;
        font-weight: 600;
      }

      .contact-email {
        font-size: 16px;
        color: $primary-blue;
      }
    }
  }
}

.contact-details-section {
  flex: 1;
  padding: 32px;
  overflow: hidden;
  min-width: 0;

  .contact-heading {
    transform: translateX(0);
    opacity: 1;
    @include flex($ai: center, $g: 28px);

    .title-row {
      @include flex($ai: center, $jc: space-between, $g: 28px);

      .contacts-title {
        @include dimensions($fs: 61px);
        font-weight: 700;
      }
    }

    .subtitle-row {
      @include flex($ai: center, $g: 16px);

      .divider {
        background-color: $primary-blue;
        @include dimensions($w: 3px, $h: 59px);
      }

      .better-text {
        white-space: nowrap;
      }
    }
  }

  .contact-content {
    transform: translateX(100%);
    opacity: 0;
    transition: none;

    &.sliding-in {
      transform: translateX(0);
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    &.sliding-out {
      transform: translateX(-100%);
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  .back-button {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    mat-icon {
      @include dimensions($w: 32px, $h: 32px, $fs: 32px);
      color: $primary-blue;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.mobile-add-button {
  display: none;
  @include position($p: fixed, $r: 24px, $b: 96px);
  @include dimensions($w: 56px, $h: 56px);
  background-color: $dark-navy;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 225ms ease-in-out;
  z-index: 1000;

  .mobile-icon {
    @include flex($ai: center, $jc: center);
    color: $white;
    @include dimensions($fs: 32px, $w: 100%, $h: 100%);
  }

  &:hover {
    background-color: $primary-blue;
  }
}

@media (max-width: 1080px) {
  .contact-details-section .contact-heading {
    @include flex($fd: column, $ai: flex-start, $g: 0);
    margin: 24px 0;

    .contacts-title {
      margin: 0;
    }

    .subtitle-row .divider {
      @include dimensions($w: 90px, $h: 3px);
      margin: 8px 0 8px 24px;
    }
  }
}

@media (max-width: 850px) {
  .contacts-container {
    flex-direction: column;
  }

  .mobile-add-button {
    @include position($p: fixed, $r: 16px, $b: 16px);
    display: block;
  }

  .contact-list-section {
    @include dimensions($w: 100%, $h: 100%);
    min-width: unset;
    max-width: unset;

    .button-container {
      display: none;
    }

    .contacts-list {
      padding: 24px;

      .contact-group .contact-item {
        margin: 0;
        padding: 15px;
      }
    }
  }

  .contact-details-section {
    @include position($p: absolute, $l: 0);
    @include dimensions($w: 100%, $h: 100%);
    background-color: $background-light;
    z-index: 1001;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 24px;
    overflow: hidden;

    &.mobile-visible {
      display: block;
      transform: translateX(0);
    }

    .back-button {
      background: none;
      mat-icon {
        @include dimensions($w: 32px, $h: 32px, $fs: 32px);
        color: $primary-blue;
      }
      &:hover {
        box-shadow: none;
      }
    }

    .row {
      @include flex($ai: center, $g: 16px);
    }

    .title-row {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .mobile-add-button {
    @include position($r: 16px, $b: 96px);
  }
}

@media (max-width: 650px) {
  .contact-details-section {
    padding: 16px;

    .contact-heading {
      .title-row .contacts-title {
        @include dimensions($fs: 47px);
      }
      .subtitle-row {
        margin-left: 4px;
        @include flex($fd: column-reverse, $g: 8px);
        .divider {
          margin: 0 40px 0 0;
        }
      }
    }
  }

  .contacts-list {
    padding: 12px;
    .contact-group {
      margin-bottom: 12px;
      .letter-divider {
        padding-left: 12px;
        margin-bottom: 12px;
      }
      .contact-item {
        margin-left: 16px;
        padding: 12px;
        gap: 16px;
      }
    }
  }
}

@media (max-width: 400px) {
  .contacts-list {
    padding: 8px;
    .contact-group {
      margin-bottom: 8px;
      .contact-item {
        padding: 4px;
        gap: 12px;
      }
    }
  }
}

@media (max-width: 375px) {
  .mobile-add-button {
    @include position($b: 76px, $r: 16px);
    @include dimensions($w: 46px, $h: 46px);
  }

  .contact-heading .contacts-title {
    @include dimensions($fs: 33px);
  }
}

@media (max-width: 340px) {
  .title-row {
    gap: 4px !important;
  }
}
