<aside class="sidebar" id="sidebarMenu">
    <figure class="logo-container">
        <img class="logo-image" src="/assets/icons/join-logo-white.svg" alt="" /> 
    </figure>

    <nav class="menu-container">
        <ul class="menu-items">
            <li class="menu-item">               
                <a routerLink="/summary" routerLinkActive="active">        
                    <img src="assets/icons/summary.svg" alt=""/>
                    <span>Summary</span>
                </a>                
            </li>
            <li class="menu-item">               
                <a routerLink="/add-task" routerLinkActive="active">        
                    <img src="assets/icons/AddTask.svg" alt=""/>
                    <span>Add Task</span>
                </a>               
            </li>
            <li class="menu-item">                
                <a routerLink="/board" routerLinkActive="active">     
                    <img src="assets/icons/Board.svg" alt=""/>
                    <span>Board</span>
                </a>                
            </li>
            <li class="menu-item">               
                <a routerLink="/contacts" routerLinkActive="active">        
                    <img src="assets/icons/contacts.svg" alt=""/>
                    <span>Contacts</span>
                </a>                
            </li>    
        </ul>

        <div class="footer-container">
            <a routerLink="/privacy">Privacy Policy</a>
            <a routerLink="/legal">Legal Notice</a>
        </div>
    </nav>
</aside>

<div class="menu-mobile-display-container">
    <div class="menu-mobile-display-item">
        <a routerLink="/summary">        
            <img src="assets/icons/summary.svg" alt=""/> 
            <span>Summary</span>        
        </a>
    </div>
    <div class="menu-mobile-display-item">
        <a routerLink="/board">        
            <img src="assets/icons/Board.svg" alt=""/>
            <span>Board</span>         
        </a>
    </div>
    <div class="menu-mobile-display-item">
        <a routerLink="/add-task">       
            <img src="assets/icons/AddTask.svg" alt=""/>     
            <span>Add Task</span>   
        </a>
    </div>
    <div class="menu-mobile-display-item">
        <a routerLink="/contacts">        
            <img src="assets/icons/contacts.svg" alt=""/> 
            <span>Contacts</span>          
        </a>
    </div>
</div>
