@use '../../../styles.scss' as *;

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $dark-navy;
    height: 100vh;
    width: 232px;
    left: calc(50% - 960px); // Half of max-width (1920px/2)
    top: 0;
    z-index: 1000;
    margin: 0;
    color: $white;
    bottom: 0;
    transition: transform 225ms ease-in-out, width 225ms ease-in-out;
}

.logo-container {
    width: 100px;
    height: 121px;
    margin: 64px 0 103px 56px;
    padding: 0;

    img {
        width: 100%;
        height: 100%;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 64px;
    flex: 1;
}

.menu-items {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding: 0;

    &:hover {
        background-color: #091931;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $white;
        width: 100%;
        padding: 8px 0;
        
        img {
            margin-left: 56px;
            margin-right: 16px;
            height: 30px;
            width: 30px;
        }

        span {
            flex: 1;
        }
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    color: #cdcdcd;
    font-size: 16px;
    padding-left: 56px;

    a {
        margin-bottom: 10px;
        font-size: 16px;
        color: #a8a8a8;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            font-size: 18px;
            color: $primary-blue;
        }
    }
}

.menu-mobile-display-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: $dark-navy;
    z-index: 1080;
    padding: 0;
    align-items: center;
    transition: transform 225ms ease-in-out, bottom 225ms ease-in-out;
}

.menu-mobile-display-item {
    flex: 1;
    @include flex-center;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: $white;
        padding: 4px 0;
        justify-content: center;

        img {
            width: 24px;
            height: 24px;
        }

        span {
            font-size: 14px;
            white-space: nowrap;
            margin: 0;
        }
    }
}

@media (max-width: 1030px) {
    .menu-item span { 
        display: none; 
    }
    
    .sidebar {
        width: 120px;

        .logo-container {
            width: 80px;
            height: 80px;
            margin: 64px 0 103px 20px;

            img {
                width: 80px;
                height: 80px;
            }
        }

        .menu-item {
            padding: 0;
            width: 100%;
            justify-content: center;

            a {
                justify-content: center;
                padding: 8px;
                
                img {
                    margin: 0;
                }
            }
        }

        .footer-container {
            padding-left: 0;
            align-items: center;

            a:hover {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 800px) {
    aside {
        display: none !important;
    }

    .menu-mobile-display-container {
        display: flex;
        justify-content: space-evenly;
        box-shadow: 0 -4px 4px $box-shadow-light;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    .sidebar,
    .menu-mobile-display-container {
        display: none !important;
    }
}

@media (max-width: 375px) {
    .menu-mobile-display-container {
        height: 60px;
    }

    .menu-mobile-display-item a {
        img {
            width: 20px;
            height: 20px;
        }
        span {
            font-size: 12px;
        }
    }
}

@media (max-width: 1920px) {
    .sidebar {
        left: 0;
    }
}
