<header>        
    <div class="header-left-content">
        <span class="header-title">Kanban Project Management Tool</span>
        <span><img class="logo-small" src="./assets/icons/Capa 2.svg" alt="Logo" /></span>
    </div>
    <div class="header-right-content">
        <a routerLink="/main/help" class="help-icon">
            <mat-icon>help_outline</mat-icon>
        </a>
        
        <div class="profile-avatar" 
             (click)="toggleDropdown()">
            <img *ngIf="user?.profilePicture" [src]="user.profilePicture" alt="Profile picture">
            <span *ngIf="!user?.profilePicture" class="initials">{{ user.initials }}</span> 
        </div>
        
        <div class="dropdown-menu" [class.show]="isDropdownOpen">
            <a (click)="openAccountDialog()">My Account</a>
            <a routerLink="/legal">Legal Notice</a>
            <a routerLink="/privacy">Privacy Policy</a>
            <a routerLink="/login" (click)="logoutUser()">Log out</a>
        </div>
    </div>     
</header>
