@use "../../../../styles.scss" as *;

.greeting-overlay {
  @include position($p: fixed, $t: 96px, $l: 232px, $r: 0, $b: 0);
  background: $background-light;
  @include flex($ai: center, $jc: center);
  z-index: 998;
  opacity: 1;
  transition: opacity 1s ease-in-out;

  &.fade-out {
    opacity: 0;
  }
}

.greeting-content {
  text-align: center;
  margin-bottom: 50px;

  h2 {
    font-size: 47px;
    font-weight: 500;
    margin: 0;
  }

  h1 {
    color: $primary-blue;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
  }
}

@media (max-width: 1030px) {
  .greeting-overlay {
    left: 120px;
  }
}

@media (max-width: 800px) {
  .greeting-overlay {
    left: 0;
    bottom: 80px;
  }
}

@media (max-width: 375px) {
  .greeting-overlay {
    bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .greeting-overlay {
    display: none;
  }
}
