@if (contact) {
    <article class="contact-details">
        <header class="contact-header">
            <figure class="contact-avatar large" [style.background-color]="contact.iconColor">
                @if (contact.profilePicture) {
                    <img [src]="contact.profilePicture" [alt]="contact.name + '\'s profile picture'">
                } @else {
                    <figcaption>{{ contact.initials }}</figcaption>
                }
            </figure>
            
            <div class="contact-name-section">
                <h2>{{ contact.name }}</h2>
                @if (!isMobileView) {
                    <nav class="contact-actions">
                        <button type="button" class="action-button edit" (click)="openEditDialog()">
                            <mat-icon aria-hidden="true">edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button type="button" class="action-button delete" (click)="deleteContact()">
                            <mat-icon aria-hidden="true">delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </nav>
                }
            </div>
        </header>

        <section class="contact-information">
            <h3>Contact Information</h3>
            <dl>
                <div class="info-group">
                    <dt><h4>Email</h4></dt>
                    <dd><a [href]="'mailto:' + contact.email">{{ contact.email }}</a></dd>
                </div>
                <div class="info-group">
                    <dt><h4>Phone</h4></dt>
                    <dd><a [href]="'tel:' + contact.phone">{{ contact.phone }}</a></dd>
                </div>
            </dl>
        </section>
    </article>
}
