@use "../../../../styles.scss" as *;

.sidebar {
  @include flex($fd: column);
  @include position($p: fixed, $l: calc(50% - 960px), $t: 0, $b: 0);
  @include dimensions($w: 232px, $h: 100vh);
  background-color: $dark-navy;
  z-index: 1000;
  margin: 0;
  color: $white;
  transition: transform 225ms ease-in-out, width 225ms ease-in-out;
  box-shadow: none;

  &::before {
    content: "";
    @include position($p: absolute, $l: -4000px, $t: -4000px, $r: 0, $b: -4000px);
    background: $dark-navy;
    z-index: -1;
  }
}

.logo-container {
  @include dimensions($w: 100px, $h: 121px);
  margin: 64px 0 103px 56px;
  padding: 0;

  img {
    @include dimensions($w: 100%, $h: 100%);
  }
}

.menu-container {
  @include flex($fd: column, $jc: space-between);
  @include dimensions($w: 100%);
  padding-bottom: 64px;
  flex: 1;
}

.menu-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 0;

  &:hover {
    background-color: #091931;
  }

  a {
    @include flex($ai: center);
    @include dimensions($w: 100%);
    text-decoration: none;
    color: $white;
    width: 100%;
    padding: 8px 0;

    img {
      margin-left: 56px;
      margin-right: 16px;
      @include dimensions($w: 30px, $h: 30px);
    }

    mat-icon {

      margin-left: 56px;
      margin-right: 16px;
      @include dimensions($w: 30px, $h: 30px, $fs: 30px);
      color: #cdcdcd;
    }

    span {
      flex: 1;
    }
  }
}

.footer-container {
  @include flex($fd: column);
  color: #cdcdcd;
  font-size: 16px;
  padding-left: 56px;

  a {
    margin-bottom: 10px;
    font-size: 16px;
    color: #a8a8a8;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      font-size: 18px;
      color: $primary-blue;
    }
  }
}

.menu-mobile-display-container {
  display: none;
  @include position($p: fixed, $b: 0, $l: 0);
  @include dimensions($w: 100%, $h: 80px);
  background-color: $dark-navy;
  z-index: 1002;
  padding: 0;
  align-items: center;
  transition: transform 225ms ease-in-out, bottom 225ms ease-in-out;
}

.menu-mobile-display-item {
  flex: 1;
  @include flex($ai: center, $jc: center);

  a {
    @include flex($ai: center, $jc: center, $fd: column, $g: 4px);
    text-decoration: none;
    color: $white;
    padding: 4px 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #091931;
      border-radius: 8px;
      @include dimensions($w: fit-content, $h: 68px);
      min-width: 68px;
      padding: 12px;
      color: $white;
      transform: scale(1.05);
      @media (max-width: 375px) {
        height: 56px;
      }
    }

    img {
      @include dimensions($w: 24px, $h: 24px);
    }

    span {
      font-size: 16px;
      white-space: nowrap;
      margin: 0;
    }
  }
}

@media (max-width: 1030px) {
  .menu-item span {
    display: none;
  }

  .sidebar {
    width: 120px;

    .logo-container {
      @include dimensions($w: 80px, $h: 80px);
      margin: 64px 0 103px 20px;

      img {
       @include dimensions($w: 80px, $h: 80px);
      }
    }

    .menu-item {
      padding: 0;
      width: 100%;
      justify-content: center;

      a {
        justify-content: center;
        padding: 8px;

        img {
          margin: 0;
        }
        mat-icon {
          margin: 0;
        }
      }
    }

    .footer-container {
      padding-left: 0;
      align-items: center;

      a:hover {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 800px) {
  aside {
    display: none !important;
  }

  .menu-mobile-display-container {
    @include flex($jc: space-evenly);
    box-shadow: 0 -4px 4px $box-shadow-light;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .sidebar,
  .menu-mobile-display-container {
    display: none !important;
  }
}

@media (max-width: 375px) {
  .menu-mobile-display-container {
    height: 60px;
  }

  .menu-mobile-display-item a {
    img {
      @include dimensions($w: 20px, $h: 20px);
    }
    mat-icon {
      @include dimensions($w: 20px, $h: 20px, $fs: 20px);
    }
  }
}

@media (max-width: 1920px) {
  .sidebar {
    left: 0;
  }
}

:host-context(.height-exceeded) {
  .sidebar {
    height: $max-height;
    top: 50%;
    transform: translateY(-50%);
  }
}
