@use "../styles.scss" as *;

.app-wrapper {
  @include dimensions($w: 100%, $h: 100vh);
  @include flex($ai: center, $jc: center);
  overflow: hidden;
}

.app-container {
  position: relative;
  @include dimensions($w: 100%, $mw: $max-width);
}

router-outlet {
  max-width: $max-width;
  margin: 0 auto;
}

.rotation-screen {
  display: none;
  @include position($p: fixed, $t: 0, $l: 0);
  @include dimensions($w: 100vw, $h: 100vh);
  background-color: $dark-navy;
  z-index: 2000;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
  text-align: center;

  mat-icon {
    @include dimensions($w: 48px, $h: 48px,$fs: 48px);
    color: $white;
    animation: rotate 1.5s ease infinite;
  }

  span {
    color: $white;
    font-size: 24px;
    font-weight: 500;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  .rotation-screen {
    @include flex($ai: center, $jc: center);
  }

  .app-container {
    display: none;
  }
}
