.app-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

.app-container {
  position: relative;
  background-color: #f6f7f8;
  width: 100%;
  max-width: 1920px;
  padding: 0 40px;
  box-sizing: border-box;
}
