.all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 0 24px;
}

.title {
  font-size: clamp(32px, 5vw, 52px);
}

mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: #29abe2;
  position: absolute;
  right: 24px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
}

.sub-title {
  font-size: 27px;
  font-weight: 700;
}

.blue-text {
  color: #29abe2;
}

.mr-bottom-0 {
  margin-bottom: 0!important;
}

.link{
  text-decoration: none!important;
  color: #29abe2;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 901px) {
  .all {
    text-align: justify;
  }
}

@media (max-width: 620px) {
  .all {
    padding: 0 12px;
  }
}
@media (max-width: 424px) {
  .all {
    padding: 0 8px;
  }
}
