@use "../../styles.scss" as *;

.main-layout {
  @include dimensions($w: 100%, $h: 100vh);
  @include flex($jc: center);
  @include position($p: relative, $l: auto, $t: auto);
  overflow: visible;
  background-color: $background-light;
}

.content-container {
  @include position($p: fixed, $t: 96px, $l: calc(50% - 960px + 232px), $r: calc(50% - 960px), $b: 0);
  @include dimensions($w: calc(100% - 232px), $mw: calc(1920px - 232px));
  background-color: $white;
  transition: left 225ms ease-in-out;
  margin: 0 auto;
}

.main-content {
  @include dimensions($w: 100%, $h: 100%, $mw: calc(1920px - 232px));
  overflow-y: auto;
  margin: 0 auto;
  background-color: $background-light;
}

@media (max-width: 1920px) {
  .content-container {
    @include position($l: 232px, $r: 0);
  }
}

@media (max-width: 1030px) {
  .content-container {
    left: 120px;
    width: calc(100% - 120px);
  }
  .main-content {
    @include dimensions($w: 100%, $mw: none);
  
  }
}

@media (max-width: 800px) {
  .content-container {
    @include position($l: 0, $t: 89px, $b: 80px);
    width: 100%;
  }
}

@media (max-width: 375px) {
  .content-container {
    @include position($t: 60px, $b: 60px);
  }
}

:host(.height-exceeded) {
  inset: 0;
  height: $max-height !important;
  background-color: $background-light;

  .main-layout {
    @include position($p: fixed, $l: 50%, $t: 50%);
    @include dimensions($h: $max-height, $w: 100%, $mw: $max-width);
    transform: translate(-50%, -50%);
  }

  .content-container {
    @include position($p: absolute, $t: 96px);
    height: $max-height-minus-header;
  
  }
}
