<div class="main-section">
  <div class="logo-sidebar">
    <div class="background-overlay"></div>
    <img class="logo-image" src="assets/icons/logogray.svg" alt="" />
  </div>

  <header class="header-login-content">
    <span class="header-Text">Not a Join user?</span>
    <button class="signup-btn" (click)="openSignUpPage()">Sign Up</button>
  </header>

  <div class="content">
    <div class="login-section">
      <div class="title-section">
        <span>Log in</span>
        <div class="divider"></div>
      </div>

      <div class="input-section">
        <input
          type="text"
          [(ngModel)]="email"
          placeholder="Email"
          class="icon-email"
          id="username" />
        <div class="error-validation-email" [class.toggle-display]="email !== ''">
          This field is required
        </div>
        
        <input
          type="password"
          [(ngModel)]="password"
          placeholder="Password"
          class="icon-password"
          id="password" />
        <div class="error-validation-password" [class.toggle-display]="password !== ''">
          This field is required
        </div>
      </div>

      <div class="remember-password-section">
        <input type="checkbox" [(ngModel)]="rememberMe">
        <span>Remember me</span>
      </div>

      <div class="button-section">
        <button class="Login-btn" (click)="loginUser()">Log in</button>
        <button class="Guest-btn" (click)="loginGuest()">Guest Log in</button>
      </div>
    </div>
    
    <div class="header-login-content-responsive">     
      <span class="header-Text">Not a Join user? </span>     
      <button class="signup-btn" (click)="openSignUpPage()">Sign Up</button>
    </div>

    <footer class="footer-links">
      <a routerLink="/privacy">Privacy Policy</a>
      <a routerLink="/legal">Legal notice</a>
    </footer>
  </div>
</div>
