@use "../../../styles.scss" as *;

:host {
  @include flex($ai: center, $jc: center);
  @include dimensions($w: 100%, $h: 100vh);
}

.main-section {
  background-color: #f6f7f8;
  @include flex($ai: center, $jc: center, $fd: column);
  @include dimensions($w: 100%, $h: 100%, $mh: $max-height);
  position: relative;
  margin: auto;
}

.logo-sidebar {
  @include position($p: absolute, $t: 12px, $l: 12px);
  @include dimensions($w: 100px, $h: 100px);
  z-index: 1000;

  img {
    @include dimensions($w: 100%, $h: 100%);
  }
}

.logo-image {
  @include position($p: absolute, $t: 50vh, $l: 50vw);
  @include dimensions($w: 100%, $h: auto);
  transform: translate(-50%, -50%) scale(4);
  animation: LogoAnimate 2.1s forwards ease-out;
  z-index: 1;
}

.background-overlay {
  @include position($p: fixed, $t: 0, $l: 0);
  @include dimensions($w: 100vw, $h: 100vh);
  background-color: #f6f7f8;
  transform-origin: center;
  transform: scale(1);
  animation: fadeBackground 2.1s forwards ease-in-out;
  z-index: -1;
}

@keyframes LogoAnimate {
  0%,
  30% {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(4);
  }
  100% {
    top: 12px;
    left: 12px;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes fadeBackground {
  0%,
  30% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
    visibility: hidden;
  }
}

.content {
  width: 100%;
}

.header-login-content {
  @include position($p: absolute, $t: 20px, $r: 20px);
  @include flex($ai: center, $g: 35px);
}

.footer-links {
  gap: 30px;
}

.login-section {
  @include dimensions($w: 50%, $mw: 692px, $mh: 600px);
  @include flex($fd: column, $ai: center);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  margin-left: auto;
  padding-left: 20px;
  background-color: $white;
}

.title-section {
  @include flex($ai: center, $jc: center, $fd: column);
  @include dimensions($w: 100%, $h: 89px, $fs: 61px);
  font-weight: 700;
  margin-top: 40px;
  white-space: nowrap;
}

.divider {
  display: flex;
  @include dimensions($w: 30%, $h: 3px);
  background-color: $primary-blue;
  border-radius: 50px;
  margin-top: 10px;
  text-align: center;
}

.input-section,
.input-section-signup {
  @include flex($fd: column, $g: 20px);
  width: 80%;
  margin-top: 40px;

  .input-container {
    width: 100%;
    position: relative;
    margin-bottom: 0;

    .input-with-icon {
      @include input-base;
      width: calc(100% - 20px);
      margin: 0;
      &::-ms-reveal,
      &::-ms-clear {
        display: none;
      }
      &::-webkit-contacts-auto-fill-button,
      &::-webkit-credentials-auto-fill-button,
      &::-webkit-inner-spin-button {
        visibility: hidden;
        display: none !important;
      }
    }

    .input-icon {
      @include position($p: absolute, $r: 35px, $t: 50%);
      transform: translateY(-50%);
      color: $dark-navy;

      &.clickable {
        cursor: pointer;
      }
    }
  }

  input {
    @include input-base;
    width: calc(100% - 50px);
    margin-top: 15px;
  }
}

.icon-email,
.icon-password,
.icon-name {
  background-image: none;
}

.remember-password-section {
  @include flex($jc: flex-start);
  width: 80%;
  margin-top: 30px;
}

.header-login-content-responsive {
  display: none;
}

.button-section {
  @include flex($jc: center, $g: 35px);
  margin-top: 60px;
  margin-bottom: 40px;
  width: 100%;
}

.toggle-display {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-color: #ccc;
  outline: none;
}

input[type="text"].invalid,
input[type="email"].invalid,
input[type="password"].invalid {
  border-color: $error-red;
}

.error-validation {
  &-email,
  &-password,
  &-username,
  &-confirm-password {
    color: $error-red;
    margin-bottom: 3px;
  }
}

.footer-links {
  @include position($p: absolute, $b: 16px, $l: 50%);
  @include flex($ai: center, $jc: center, $g: 30px);
  @include dimensions($w: calc(100% - 80px), $h: 5vh);
  transform: translateX(-50%);
  margin: 0 auto;

  a {
    text-decoration: none;
    color: #696969;
    &:hover {
      color: $primary-blue;
      scale: 1.05;
    }
  }
}

.error-message {
  color: $error-red;
  font-size: 0.9em;
  display: none;
  margin-left: 10px;
}

input[type="checkbox"]:invalid + span {
  color: $error-red;
}

.signup-hide {
  display: none !important;
}

@media (max-width: 1050px) {
  .login-section {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .login-section {
    width: 90%;
    margin-top: 80px;
    padding: 20px 0;
  }

  .title-section {
    font-size: 47px;
    padding: 12px 0;
    margin: 0;
    height: auto;
  }

  .input-section {
    padding-left: 20px;
    gap: 15px;
    margin-top: 20px;

    .input-container {
      margin-bottom: 8px;

      .input-with-icon {
        font-size: 16px;
        height: 41px;
        padding: 0 10px;
      }

      .input-icon {
        font-size: 20px;
      }
    }
  }

  .button-section {
    margin-top: 25px;
    margin-bottom: 0;
    @include flex($ai: center, $fd: column, $g: 15px);
  }

  .logo-sidebar {
    @include position($t: 8px, $l: 8px);
    @include dimensions($w: 80px, $h: 80px);
  }
}

@media (max-width: 550px) {
  .title-section {
    font-size: 47px;
  }

  .login-section {
    margin-top: 100px;
  }
  .header-login-content {
    display: none !important;
  }
  .header-login-content-responsive {
    @include flex($ai: center, $jc: center, $g: 12px);
    margin-top: 32px;
  }

  .input-section {
    @include flex($fd: column, $g: 0);
    width: 80%;

    .input-container {
      margin-bottom: 10px;

      .input-with-icon {
        font-size: 16px;
        height: 41px;
      }

      .input-icon {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 450px) {
  .title-section {
    margin: 0;
    padding: 0;
    font-size: 41px;
  }

  .login-section {
    margin-top: 60px;
  }

  .header-login-content {
    display: none;
  }

  .header-login-content-responsive {
    @include flex($ai: center, $jc: center, $g: 12px);
    margin-top: 25px;
  }

  .logo-sidebar {
    @include position($t: 4px, $l: 4px);
    @include dimensions($w: 70px, $h: 70px);
  }
}

:host-context(.height-exceeded) {
  @include dimensions($h: 984px);
  @include position($p: fixed, $l: 50%, $t: 50%);
  transform: translate(-50%, -50%);

  .main-section {
    @include dimensions($h: 100%, $mw: 1920px);
  }

  .logo-sidebar {
    @include position($p: absolute, $t: 12px);
  }

  .header-login-content {
    @include position($p: absolute, $t: 20px);
  }

  .footer-links {
    @include position($p: absolute, $b: 160px);
  }
}
