<div class="main-section">
  <div class="logo-sidebar">
    <div class="background-overlay"></div>
    <img class="logo-image" src="assets/icons/logogray.svg" alt="" />
  </div>

  <header class="header-login-content">
    <span class="header-Text">Not a Join user?</span>
    <button class="signup-btn" (click)="openSignUpPage()">Sign Up</button>
  </header>

  <div class="content">
    <div class="login-section">
      <div class="title-section">
        <span>Log in</span>
        <div class="divider"></div>
      </div>

      <div class="input-section">
        <div class="input-container">
          <input
            type="text"
            [(ngModel)]="email"
            placeholder="Email"
            class="input-with-icon"
            id="username" />
          <mat-icon class="input-icon">mail</mat-icon>
        </div>
      
        
        <div class="input-container">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            [(ngModel)]="password"
            placeholder="Password"
            class="input-with-icon"
            id="password"
            (focus)="onPasswordFocus()"
            (blur)="onPasswordBlur()" />
          <mat-icon class="input-icon" *ngIf="!isPasswordFocused">lock</mat-icon>
          <mat-icon 
            class="input-icon clickable" 
            *ngIf="isPasswordFocused"
            (click)="togglePasswordVisibility()">
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </div>
      
      </div>

      <div class="button-section">
        <button class="Login-btn" (click)="loginUser()">Log in</button>
        <button class="Guest-btn" (click)="loginGuest()">Guest Log in</button>
      </div>
    </div>
    
    <div class="header-login-content-responsive">     
      <span class="header-Text">Not a Join user? </span>     
      <button class="signup-btn" (click)="openSignUpPage()">Sign Up</button>
    </div>

    <footer class="footer-links">
      <a routerLink="/privacy">Privacy Policy</a>
      <a routerLink="/legal">Legal notice</a>
    </footer>
  </div>
</div>
