@use "../../../styles.scss" as *;
@use "../../shared/styles/form-style.scss" as *;
@use "../../shared/styles/dropdown&selection.scss" as *;
@use "../../shared/styles/file-upload-style.scss" as *;
@use "../../shared/styles/subtasks-style.scss" as *;
// ---------- Variables ----------
$container-padding: 84px;
$container-padding-tablet: 42px;
$container-padding-mobile: 24px;
$container-padding-small: 12px;

// ---------- Base Layout ----------
.container-main {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.dialog-mode {
    height: 100%;
    overflow-y: auto;
  }
}

// ---------- Title & Main Container ----------
.title {
  position: sticky;
  margin: 0;
  top: 0;
  padding: 48px $container-padding;
  font-size: var(--heading-font-size);
  font-weight: 700;
  background-color: $background-light;
  z-index: 1;

  @media (max-width: 1300px) {
    padding: 40px 72px;
  }

  @media (max-width: 1180px) {
    padding: 38px 60px;
  }

  @media (max-width: 900px) {
    padding: 36px $container-padding-tablet;
  }

  @media (max-width: 600px) {
    padding: 32px $container-padding-mobile;
  }

  @media (max-width: 400px) {
    padding: 20px $container-padding-small;
  }
}

.left-right-container {
  flex: 1;
  display: flex;
  padding: 0 $container-padding;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1300px) {
    padding: 0 72px;
  }

  @media (max-width: 1180px) {
    padding: 0 60px;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 0 $container-padding-tablet;
  }

  @media (max-width: 600px) {
    padding: 0 $container-padding-mobile;
  }

  @media (max-width: 400px) {
    padding: 0 $container-padding-small;
  }
}

.left-side,
.right-side {
  flex: 1;
  box-sizing: border-box;
}

.right-side {
  flex: 1;
  box-sizing: border-box;
  min-width: 0;
  max-width: 50%;

  @media (max-width: 900px) {
    max-width: 100%;
  }
}

.divider {
  width: 1px;
  background-color: $border-color;
  margin: 0 20px;

  @media (max-width: 900px) {
    width: 100%;
    height: 1px;
    margin: 10px 0;
  }
}

// ---------- Footer Section ----------
.footer-add-task {
  background-color: $background-light;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px $container-padding;
  height: 160px;
  z-index: 5;

  .footer-add-task-left {
    .required {
      color: $error-red;
    }
  }

  .footer-add-task-right {
    display: flex;
    gap: 16px;
  }

  // // Media Queries für Footer
  // @media (max-width: 1300px) {
  //   padding: 20px 72px;
  //   height: 150px;
  // }

  // @media (max-width: 1180px) {
  //   padding: 20px 60px;
  //   height: 140px;
  // }

  // @media (max-width: 900px) {
  //   padding: 20px $container-padding-tablet;
  //   height: 120px;
  // }

  @media (max-width: 600px) {
    gap: 8px;
    padding: 8px $container-padding-mobile;
    height: 96px;

    .footer-add-task-right {
      width: 100%;
      justify-content: flex-end;
    }
  }

  @media (max-width: 400px) {
    padding: 0 $container-padding-small;
    height: 64px;
  }
}



// ---------- Priority Section ----------
.priority-buttons {
  display: flex;
  gap: 10px;
  width: 100%;

  .priority-btn {
    font-size: 1.1em;
    font-weight: 700;
    flex: 1;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid $border-color;
    border-radius: 8px;

    background-color: $white;
    transition: all 0.2s ease;

    img {
      height: 20px;
      width: 20px;
    }

    &.active {
      color: $white;

      img {
        filter: brightness(0) invert(1); 
      }

      &:nth-child(1) {
        background-color: #ff3d00;
        border-color: #ff3d00;
      }

      &:nth-child(2) {
        background-color: #ffa800;
        border-color: #ffa800;
      }

      &:nth-child(3) {
        background-color: #7ae229;
        border-color: #7ae229;
      }
    }
  }
}



// ---------- Utils & Animations ----------
.required-hint {
  display: none;
  margin-top: 16px;
}

.error-validation {
  color: $error-red;
  font-size: 16px;
  margin-top: 4px;
  display: none;

  &.visible {
    display: block;
  }
}

@media (max-width: 600px) {
  .priority-buttons {
    flex-direction: column;
  }

  .required-hint {
    display: block;
  }
}

.required-hint {
  margin-top: 16px;
}

.required-desktop {
  @media (max-width: 600px) {
    display: none;
  }
}

.delete-all-btn {
  align-self: flex-end;
  justify-content: flex-end;

  button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    background: none;
    border: none;
    border-radius: 4px;
    color: $dark-navy;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 15px;

    &:hover {
      box-shadow: none;
      scale: 1.1;
    }

    mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }
}

.custom-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 !important;
  gap: 8px;

  input[type="checkbox"] {
    display: none;
  }

  svg {
    min-width: 19px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(42, 54, 71, 0.1);
    }

    .checked,
    .unchecked {
      stroke: $dark-navy;
    }

    .checked {
      display: none;
    }
  }

  input[type="checkbox"]:checked + svg {
    background-color: $dark-navy;

    &:hover {
      background-color: #3f516b;
    }

    .unchecked {
      display: none;
    }
    .checked {
      display: block;
      stroke: $white;
    }

    rect,
    path {
      stroke: $white;
    }
  }
}

.dialog-mode {
  height: 100%;
  overflow-y: auto;

  background-color: $background-light;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: $container-padding;
  background-color: $background-light;

  .title {
    font-size: var(--heading-font-size);
    font-weight: 700;
  }

  .close-button {
    background: none;
    border: none;

    color: $dark-navy;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $primary-blue;
      box-shadow: none;
      transform: scale(1.1);
    }
    mat-icon {
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
  }

  @media (max-width: 1300px) {
    padding-right: 72px;
  }

  @media (max-width: 1180px) {
    padding-right: 60px;
  }

  @media (max-width: 900px) {
    padding-right: $container-padding-tablet;
  }

  @media (max-width: 600px) {
    padding-right: $container-padding-mobile;
    .close-button {
      mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
      }
    }
  }

  @media (max-width: 400px) {
    padding-right: $container-padding-small;
    .close-button {
      mat-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

main {
  display: block;
}

header {
  display: block;
}

section {
  display: block;
}

form {
  margin: 0;
  padding: 0;
}

@media (max-width: 400px) {
  .footer-add-task {
    padding: 12px;
    .footer-add-task-right {
      gap: 8px;
      height: 40px;
    }
  }
}
