mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: #29abe2;
  position: absolute;
  right: 24px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
}
// .backIcon {
//     border-radius: 50%;
//   }
//   .backIcon:hover {
//     //   cursor: pointer;

//   }
.all {
  /* overflow: auto;  */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 0 24px;
}

.title {
    font-size: clamp(32px, 5vw, 52px);
}

.sub-title {
  font-size: 27px;
  font-weight: 700;
}

.container-fluid h2,
.container-fluid h1 {
  font-weight: 600;
}

.container-fluid h1 {
  font-size: 28px;
}

.container-fluid p {
  font-size: 14px;
  line-height: 1.5;
}

.font {
  font-size: 40px;
}

.blue-text {
  color: #29abe2;
}


@media (max-width: 1030px) {
  //   .all {
  //     margin-left: 150px;
  //   }
}
@media (max-width: 901px) {
  .all {
    // margin-left: 40px;
    // margin-right: 40px;
    text-align: justify;
  }
}

@media (max-width: 620px) {
  .all {
    padding: 0 12px;
  }
}
@media (max-width: 424px) {
  .all {
    padding: 0 8px;
  }
}
