@use "../../../../styles.scss" as *;
:host {
  display: block;
  overflow-x: hidden;
  width: 100%;
}

.message-dialog {
  text-align: center;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.success {
    padding: 18px;
    min-width: 300px;
    background: $dark-navy;
    border-radius: 8px;
    font-size: 20px;
    gap: 24px;

    .icon-container {
      img {
        width: 32px;
        height: 32px;
      }
    }

    .message {
      font-size: 16px;
      line-height: 1.5;
      color: white;

      .second-line {
        margin-top: 4px;
        font-size: 14px;
        opacity: 0.9;
      }
    }
  }

  &.error {
    background: #ff3d00;
    padding: 16px 24px;
    // border-radius: 8px;
    min-width: 300px;

    .icon-container {
      display: none;
    }

    .message {
      text-align: center;
      color: white;
      font-size: 18px;
      line-height: 1.5;
      text-align: left;

      .second-line {
        text-align: center;
        margin-top: 4px;
        font-size: 12px;
        opacity: 0.9;
      }
    }
  }
}
