@use "../../../styles.scss" as *;

:host {
  @include flex($ai: center, $jc: center);
  @include dimensions($w: 100%, $h: 100vh);
}

.main-section {
  background-color: $background-light;
  @include flex($ai: center, $jc: center, $fd: column);
  @include dimensions($w: 100%, $h: 100%, $mh: $max-height);
  position: relative;
  margin: auto;
}

.logo-sidebar {
  @include position($p: absolute, $t: 12px, $l: 12px);
  @include dimensions($w: 100px, $h: 100px);
  z-index: 1000;

  img {
    @include dimensions($w: 100%, $h: 100%);
  }
}

.arrow-left {
  @include dimensions($w: 48px, $h: 48px, $fs: 38px);
  color: $dark-navy;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: $primary-blue;
    transform: scale(1.1);
  }
}

.content {
  width: 100%;
}

.signup-section {
  @include flex($fd: column, $ai: center);
  @include dimensions($w: 50%, $mw: 692px, $mh: 800px);
  border-radius: $border-radius-xl;
  box-shadow: 0px 0px 10px 3px $box-shadow-light;
  margin: 0 auto;
  padding: 40px 0;
  background-color: $white;
}

.title-section-signup {
  @include flex($ai: center, $jc: center);

  @include dimensions($w: 100%, $h: auto, $fs: 61px);
  font-weight: 700;
  padding: 0;
  white-space: nowrap;

  .title-section-left {
    width: 60px;
    padding-left: 30px;
    img {
      cursor: pointer;
      @include dimensions($w: 24px, $h: auto);
    }
  }

  .title-section-right {
    flex: 1;
    @include flex($fd: column, $ai: center, $g: 12px);
    margin-right: 84px;
  }
}

.divider {
  @include dimensions($w: 150px, $h: 3px);
  background-color: $primary-blue;
  border-radius: 50px;
}

.input-section-signup {
  @include flex($fd: column, $g: 20px);
  width: 80%;
  margin-top: 32px;

  .input-container {
    width: 100%;
    position: relative;
    margin-bottom: 0;

    .input-with-icon {
      @include input-base;
      width: 100%;
      padding: 0 12px;
      margin: 0;

      &:focus {
        border-color: $primary-blue;
      }

      &.error {
        border-color: $error-red;
      }

      &::-ms-reveal,
      &::-ms-clear {
        display: none;
      }
      &::-webkit-contacts-auto-fill-button,
      &::-webkit-credentials-auto-fill-button,
      &::-webkit-inner-spin-button {
        visibility: hidden;
        display: none !important;
      }
    }

    .input-icon {
      @include position($p: absolute, $r: 12px, $t: 50%);
      @include dimensions($w: 24px, $h: 24px, $fs: 24px);
      transform: translateY(-50%);
      color: #818181;
      display: inline-block;
      line-height: 1;
      overflow: hidden;
      -webkit-font-smoothing: antialiased;
      transition: top 0.2s ease;

      &.material-icons {
        font-family: "Material Icons";
        font-weight: normal;
        font-style: normal;
        text-transform: none;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        letter-spacing: normal;
      }

      &.error-active {
        top: calc(50% - 8px);
      }

      &.clickable {
        cursor: pointer;
      }
    }

    .error-message {
      color: $error-red;
      font-size: 16px;
      margin-top: 4px;
      opacity: 0;
      transform: translateY(-10px);
      transition: all 0.2s ease;

      &.show {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .error-username,
  .error-email,
  .error-Password,
  .error-confirm-password {
    color: $error-red;
    font-size: 16px;
    margin-top: 4px;
  }
}

.check-policy-section {
  @include flex($ai: center, $g: 8px);
  margin: 32px 0;
  padding: 0 40px;

  .custom-checkbox {
    cursor: pointer;
    @include flex($ai: center, $g: 8px);

    input[type="checkbox"] {
      display: none;

      &:checked + svg {
        .unchecked {
          display: none;
        }

        .checked {
          display: block;
        }

        &:hover {
          background-color: lightgray;
        }
      }
    }

    svg {
      min-width: 19px;
      min-height: 19px;
      cursor: pointer;
      transition: all 0.2s ease;
      border-radius: 3px;

      .checked,
      .unchecked {
        stroke: $dark-navy;
      }

      .checked {
        display: none;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    span {
      font-size: 16px;
      font-weight: 500;
      color: black;
    }

    a {
      color: $primary-blue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.error-message {
  color: $error-red;
  font-size: 16px;
  display: block;
  margin-top: 4px;
}

.footer-links {
  @include position($p: absolute, $b: 16px, $l: 50%);
  @include flex($ai: center, $jc: center, $g: 30px);
  @include dimensions($w: calc(100% - 80px), $h: 5vh);
  transform: translateX(-50%);
  margin: 0 auto;

  a {
    text-decoration: none;
    color: #696969;
    &:hover {
      color: $primary-blue;
      scale: 1.05;
    }
  }
}

@media (max-width: 1200px) {
  .title-section-signup {
    font-size: 51px;
  }
}

@media (max-width: 1050px) {
  .title-section-signup {
    font-size: 51px;
  }
}

@media (max-width: 1000px) {
  .signup-section {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .signup-section {
    width: 90%;
    padding: 24px 0;
  }
  .check-policy-section {
    margin: 16px 0;
  }

  .title-section-signup {
    font-size: 47px;
    height: 70px;

    .title-section-left {
      padding-left: 20px;
    }
  }

  .input-section-signup {
    width: 85%;

    input {
      height: 41px;
      font-size: 16px;
    }
  }

  .check-policy-section {
    padding: 0 20px;
    font-size: 16px;
  }

  .logo-sidebar {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 550px) {
  .signup-section {
    padding: 20px 0;
  }

  .title-section-signup {
    font-size: 41px;
    padding: 0;
    margin: 0;

    .title-section-left {
      padding-left: 25px;

      img.arrow-left {
        width: 32px !important;
        height: 32px !important;
      }
    }
  }

  .input-section-signup {
    gap: 15px;
    margin-top: 20px;

    .input-container {
      margin-bottom: 8px;

      .input-with-icon {
        font-size: 16px;
        height: 41px;
        padding: 0 10px;
        &::-ms-reveal,
        &::-ms-clear {
          display: none;
        }
        &::-webkit-contacts-auto-fill-button,
        &::-webkit-credentials-auto-fill-button,
        &::-webkit-inner-spin-button {
          visibility: hidden;
          display: none !important;
        }
      }
    }
  }

  .check-policy-section {
    margin: 15px 0;
    padding: 0 15px;

    span {
      font-size: 16px;
    }
  }

  .title-section-signup {
    font-size: 41px;
  }
  .input-section-signup {
    gap: 0;

    .input-container {
      margin-bottom: 10px;

      .input-with-icon {
        font-size: 16px;
        height: 41px;
      }

      .input-icon {
        font-size: 20px;
      }
    }
  }
  .check-policy-section span {
    font-size: 12px;
  }
  .content {
    margin-top: 0;
  }
  .divider {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .logo-sidebar {
    @include dimensions($w: 70px, $h: 70px);
  }
}

@media (max-width: 400px) {
  .title-section-signup {
    font-size: 37px;
  }

  .check-policy-section {
    margin: 0 0 10px 0;
    font-size: 16px;
  }
}
